/**
   * @author Benedicta Amo Bempah
   * @copyright 2016
   ** description: The CSS class that is used in the display_user.php page to add some style to lists provided. 
   */ 
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
