/*
@author  Norbert Sackey
*/

body{

	background-image: url('C:\Users\Norbert\Pictures\Wallpapers\gun.jpg');
	color : #000305;
	font-family: Arial , 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}

a{
text-decoration: none;

}

a:link {
	color: ##40FF00;
}

a:hover, a:active{
	color :#CF5C3F ;
}
 
.body{

	margin: 0  auto;
	width: 70%;

	clear : both;
}

.newheader img{
	width : 50%;
	height : auto ;
    margin: 4% 0 ;
}


  .newheader nav {
 	background-color:#666;
 	height: 40px ;
 	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
 }

  .newheader nav ul {
   list-style: none ;
   margin: 0 auto ;}

.newheader nav ul li{
  float: left ;
  display: inline;

}

.newheader nav a:link{
color : #FFF;
display: inline-block;
padding: 10px 25px;
height: 20;

}

.newheader nav a:hover , .newheader nav a:active , .newheader nav .active a:link {
 background-color: #CF5C3F;

}

.newheader nav ul li a {
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;

}

.mainContent {
    line-height: 25px;
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
 
}

.content{
width: 100%;
float : left ;
}

.sola{
background-color: #FFF325;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 3%  5%;

}

.top-sidebar img{

	float : left;
	background-color: #FFF;
    margin: 4% 0 ;
}

.mainFooter {

width: 100%;
float : left;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #666;
margin-top: 2%;
margin-bottom: 2%;
}

 .mainFooter p {
 	width :92%;
 	margin : 2% auto ;


 }